<h1> Your letters: </h1>
<div class="container">
<% @my_chars.each do |item|  %>
  <div class="letter-box"> <%= item %> </div>
  <% end %>
</div>


<form action="/games/score" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag "user_array", @my_chars %>
  <input type="text" name="input" placeholder="What is the longest word you can find?">
  <input type="submit">
</form>
